.env
.env.*
!.env.example
.venv/
.venv*/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
var/
staticfiles/
media/
*.sqlite
*.sqlite3
*.db
*.dump
*.backup
*.eambak
*.log
*.zip
/dist/
.idea/
.vscode/
~$*
